body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    width: 1200;
    margin: auto;
}
header{
    width: 1340px;
    height: 100px;
    border-style:groove;
    border-color: rgb(110, 110, 108);
    border-top: hidden;
    border-left: hidden;
    border-bottom: 1px solid rgb(158, 156, 156);;
    border-right: hidden;
    position: fixed;
    background-color:white;
    z-index: 9999;
}
header p{
    font-family:sans-serif;
    font-size:xx-large;
    font-weight: bolder;
    position: absolute;
    left: 150px;
}
header b{
    background-color: black;
    color: white;
    padding: 5px;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    font-weight: lighter;
    position: absolute;
    left: 1100px;
    top: 25px;
    
}
a:link{
    color: white;
    
}
a:visited{
    color: white;
}
a:hover{
    color: red;
}
a:active{
    color: blue;
}
#intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    font-weight: bolder;
    position: absolute;
    top: 180px;
    left: 150px;   
}
#introsub{
    font-family: serif;
    font-size: large;
    position: absolute;
    top: 300px;
    left: 150px;
    color: rgb(53, 50, 50);
}
#banner{
    height: auto;
    width: 40%;
    position: absolute;
    left: 650px;
    top: 270px;
}
#connect{
    height: 50px;
    width: 250px;
    background-color: rgb(223, 16, 16);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    position:absolute;
    left: 150px;
    top: 400px;
}
#hero{
    font-family: sans-serif;
    font-size:xx-large;
    position: absolute;
    top: 520px;
    left: 150px;   
}
#herotext{
    font-family: serif;
    font-size: large;
    position: absolute;
    top: 590px;
    left: 150px;  
    color: rgb(48, 47, 47); 
}
#hero2{
    font-family: sans-serif;
    font-size:xx-large;
    position: absolute;
    top: 520px;
    left: 800px;
}
#herotext2{
    font-family: serif;
    font-size: large;
    position: absolute;
    top: 590px;
    left: 800px;  
    color: rgb(48, 47, 47);
}
#motto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    top: 790px;
    left: 650px;;
}
.motto1{
    font-family: serif;
    font-size: large;
    font-weight: lighter;
    position: absolute;
    top: 840px;
    left: 300px;  
    color: rgb(36, 35, 35);
}
.motto2{
    font-family: serif;
    font-size: large;
    position: absolute;
    top: 860px;
    left: 350px;  
    color: rgb(48, 47, 47);
}
#skale{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 950px;
    left: 250px;
}
#nano{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 950px;
    left: 450px;
}
#mew{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 950px;
    left: 650px;
}
#meta{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 950px;
    left: 850px;
}
#math{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 950px;
    left: 1050px;
}
#portis{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 250px;
}
#polkadot{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 450px;
}
#poa{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 650px;
}
#eth{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 850px;
}
#ontology{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1100px;
    left: 1050px;
}
#kin{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 250px;
}
#ledger{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 450px;
}
#kava{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 650px;
}
#nimiq{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 850px;
}
#solana{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1300px;
    left: 1050px;
}
#bnb{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 250px;
}
#bitkeep{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 450px;
}
#nebulas{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 650px;
}
#filecoin{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 850px;
}
#iotex{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1500px;
    left: 1050px;
}
#icon{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 250px;
}
#harmony{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 450px;
}
#coin98{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 650px;
}
#guard{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 850px;
}
#formatic{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1700px;
    left: 1050px;
}
footer{
    width: 1340px;
    height: 100px;
    border-style:groove;
    border-color: rgb(110, 110, 108);
    border-top: 1px solid rgb(158, 156, 156);
    border-left: hidden;
    border-bottom: hidden;
    border-right: hidden;
    position: absolute;
    top: 1900px;
}
footer p {
    font-family:sans-serif;
    font-size:xx-large;
    font-weight:bold;
    position: absolute;
    left: 150px;
}
h3{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 550px;
}
#phrasec{
    font-weight: lighter;
    color: rgb(112, 110, 110);
    position: absolute;
    top: 250px;
    left: 300px;
}
#phraseconnect{
    height: 100px;
    width: 500px;
    position: absolute;
    top: 300px;
    left: 300px;
}
::placeholder{
    position: absolute;
    top: 5px;
    left: 5px;
}
#phraset{
    font-weight: bolder;
    color: rgb(112, 110, 110);
    position: absolute;
    top: 400px;
    left: 300px;
}
#key{
    font-weight: lighter;
    color: rgb(112, 110, 110);
    position: absolute;
    top: 500px;
    left: 300px;
}
#keyconnect{
    height: 100px;
    width: 500px;
    position: absolute;
    top: 545px;
    left: 300px;
}
#keypass{
    height: 50px;
    width: 500px;
    position: absolute;
    top: 680px;
    left: 300px;
}
#private{
    font-weight: lighter;
    color: rgb(112, 110, 110);
    position: absolute;
    top: 790px;
    left: 300px;   
}
#privateconnect{
    height: 50px;
    width: 500px;
    position: absolute;
    top: 820px;
    left: 300px;
}
#privatet{
    font-weight: bolder;
    color: rgb(112, 110, 110);
    position: absolute;
    top: 875px;
    left: 300px;   
}
#submitconnect{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    height: 50px;
    width: 500px;
    background-color: red;
    color: white;
    position: absolute;
    top: 950px;
    left: 300px;
}
footer.connect{
    width: 1340px;
    height: 100px;
    border-style:groove;
    border-color: rgb(110, 110, 108);
    border-top: 1px solid rgb(158, 156, 156);
    border-left: hidden;
    border-bottom: hidden;
    border-right: hidden;
    position: absolute;
    top: 1200px;   
}
header.smart{
    width: 1340px;
    height: 100px;
    border-style:groove;
    border-color: rgb(110, 110, 108);
    border-top: hidden;
    border-left: hidden;
    border-bottom: 1px solid rgb(158, 156, 156);;
    border-right: hidden;
    position: fixed;
    background-color:black;
    z-index: 9999; 
    color: white;  
}
footer.wallets{
    position: absolute;
    top: 1200px;
    background-color: black;
    color: white;
    height: 200px;
    
}
footer p#telegram{
    background-color: rgb(53, 51, 51);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    left: 1000px;
    top: 50px;
    font-weight: lighter;
    font-size: medium; 
    letter-spacing: 5px;
}
footer p#twitter{
    background-color: rgb(53, 51, 51);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    left: 700px;
    top: 50px;
    font-weight: lighter;
    font-size: medium; 
    letter-spacing: 5px;
}
footer p#discord{
    background-color: rgb(53, 51, 51);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    left: 400px;
    top: 50px;
    font-weight: lighter;
    font-size: medium; 
    letter-spacing: 5px;
}
footer p#github{
    background-color: rgb(53, 51, 51);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    left: 100px;
    top: 50px;
    font-weight: lighter;
    font-size: medium; 
    letter-spacing: 5px;
}
footer p#githubicon{
    border-radius: 50%;
    position: absolute;
    left: 1100px;
}
footer p#facebookicon{
    border-radius: 50%;
    position: absolute;
    left: 1170px;
}
footer p#twittericon{
    border-radius: 50%;
    position: absolute;
    left: 1240px;
}